In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import descartes
from shapely.geometry import Point, Polygon
import os
import datetime
import sklearn
from sklearn.ensemble import RandomForestClassifier
import seaborn as sns
from pathlib import Path

In [8]:
#Settings
pd.options.display.max_columns = None
%matplotlib inline
sns.set(style="darkgrid")
random_seed = 42
#chd = os.chdir('C:/Users/UvA/UvA/Sebastiaan Hemmer - DSP F4/New Data Sources/Using for prototype/')
CURR_DIR = os.getcwd()

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [11]:
df = pd.read_excel(CURR_DIR + '\data\Requested data Waternet.xlsx', sheet_name='Postcodes')

In [12]:
df

         Gebiedsnaam         Soort gebied             Postcodebereik
0         A  Centrum            Stadsdeel       1011-1012, 1015-1018
1       B  Westpoort            Stadsdeel                  1040-1049
2            E  West            Stadsdeel       1013-1014, 1050-1057
3      F  Nieuw-West            Stadsdeel                  1060-1069
4            K  Zuid            Stadsdeel      1058, 1059, 1070-1083
5            M  Oost            Stadsdeel            1019, 1086-1099
6           N  Noord            Stadsdeel                  1020-1039
7        T  Zuidoost            Stadsdeel                  1100-1109
8   Amsterdam Totaal             Gemeente                  1000-1109
9         Amstelveen             Gemeente                  1180-1189
10            Diemen             Gemeente                  1110-1113
11         Heemstede             Gemeente                  2100-2106
12            Muiden  Gemeente (voorheen)                  1398-1399
13      Ouder-Amstel             Gemeente       1114-1115, 1190-1191
14          Schiphol       Postcodegebied                  1117-1119
15         Onbepaald                    -  (geen matchende postcode)

In [2]:
def answer(region, start, length):
    postal = []
    postal = list(range(start, start+length))
    postal = pd.DataFrame(postal,columns=['postalcode'])
    postal['region'] = region
    postalcode = postal
    exists = os.path.isfile('data')
    if Path('data/postalcodes.csv').is_file():
        postalcode.to_csv('data/postalcodes.csv', mode='a', header=False)
        print ("Appended your values")
    else:
        postalcode.to_csv('data/postalcodes.csv')
        print ("New file created")
       
    return(postalcode)

In [31]:
answer('Onbepaalde', 0000, 1)

Appended your values

   postalcode      region
0           0  Onbepaalde

In [12]:
#delete doubles

  region  postcode
0      A      1011
1      A      1012
2      A      1015
3      A      1016
4      A      1017
5      A      1018